:root {
    --admin-dashboard-content-container--border: 1px solid lightgray;
    --admin-dashboard-content-container--background: whitesmoke;

}

.admin-dashboard-content-container {
    padding: 15px;
    border-top: var(--admin-dashboard-content-container--border);
    border-left: var(--admin-dashboard-content-container--border);
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    background: var(--admin-dashboard-content-container--background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.admin-dashboard-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admin-dashboard-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}