.login-parent {
  display: flex;
  justify-content: center;
  height: 100dvh;
  max-height: 100dvh;
  position: relative;
}

.login-container {
  display: flex;
  width: 50%;
  z-index: 1;
}

@media (max-width: 865px) {
  .login-container {
    width: 100%;
  }
}

.login-container {
    flex-direction: column;
    gap: 20px;
    padding: 100px 70px 70px 70px;
}

.login-container h2 {
    font-weight: 800;
}

.login-container img {
    width: 100px;
}

.login-container-copyright-text {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}